@page "/listadoV"
@using System;
@using System.Linq;
@using FinalProject.Models;
@using Microsoft.EntityFrameworkCore
@inject DbContextOptions<rentcarContext> rentar

<h1>Listado de Vehiculos.</h1>
<hr>    
@if(Vehiculos().Count > 0){
 <table class="table table-dark">
    <thead>
        <tr>
            <th>Marca</th>
            <th>Modelo</th>
            <th>Año</th>
            <th>Color</th>
            
        </tr>
    </thead>
    <tbody>
        @foreach (var clt in Vehiculos()){

            <tr>
                <td>@clt.Marca</td>
                <td>@clt.Modelo</td>
                <td>@clt.Año</td>
                <td>@clt.Color</td>              
            </tr>
        }
    </tbody>
</table>
}




@code
{
    
    List<Vehiculos> Vehiculos() => new rentcarContext(rentar).Vehiculos.ToList();
    
}