@page "/registroV"
@using System;
@using System.Linq;
@using Microsoft.EntityFrameworkCore;
@using FinalProject.Models;
@inject DbContextOptions<rentcarContext> rentar 
@inject IJSRuntime JSRuntime
 
    
<h3>Registrar Vehiculos</h3>
<hr />
<div class="container">
    <form class="form">
        <div class="form-group">
            <label>Marca</label>
            <input class="form-control" placeholder="Marca"  @bind="marca" />

        </div>

        <div class="form-group">
            <label>Modelo</label>
            <input class="form-control" placeholder="Modelo" @bind="modelo" />
        </div>

        <div class="form-group">
            <label>A침o</label>
            <input class="form-control" placeholder="A침o" @bind="year" />
        </div>

        <div class="form-group">
            <label>Color</label>
            <input class="form-control" placeholder="Color" @bind="color" />
        </div>

        <div class="form-group">
            <label>Precio por dia</label>
            <input class="form-control" placeholder="Precio por dia " @bind="Pdia" />
        </div>

        <div class="form-group">
            <label>Tipo de vehiculo</label>
            <select class="form-control" @bind="tipo">
                @foreach (var tpv in VehiclesTypes())
                {
                    <option value="@tpv.IdTipoVehiculos">@tpv.Tipo</option>
                }
            </select>
        </div>

         <div class="form-group">
            <label>Capacidad de carga</label>
            <input class="form-control" placeholder="Capacidad de carga en kg" @bind="carga" />
        </div>

        <div class="form-group">
            <label>Pasajeros</label>
            <input class="form-control" placeholder="pasajeros" @bind="pasajeros" />
        </div>


        <div class="form-group">
            <label>Numero de seguro</label>
            <input class="form-control" placeholder="Numero de seguro" @bind="seguro" />
        </div>

        <hr>
        <hr>
        <h3>Seleccione su ubicaci칩n y proceda a introducir la longitud y latitud</h3>
        <hr>
        <div class="input-group-append">
            <div id="map" style="height:500px;width:100%;"></div>
        </div>
        <hr>
        <div class="form-group">
            <label>Latitud</label>
            <input class="form-control" placeholder="Latitud" @bind="latitud" />
        </div>

        <div class="form-group">
            <label>Longitud</label>
            <input class="form-control" placeholder="Longitud" @bind="longitud" />
        </div>

        <button @onclick="agregar" class="btn btn-outline-success">Guardar</button>
    </form>
</div>

@code
{
    string marca;
    string modelo;

    string year;
    string color;
    int seguro;
    float Pdia;
    int tipo;
    float carga;
    int pasajeros;
    double latitud;
    double longitud;
     rentcarContext db;
    protected override void OnInitialized()
    {
        db = new rentcarContext(rentar);
    }

    List<TipoVehiculos> VehiclesTypes() => db.TipoVehiculos.ToList();

    void agregar()
    {
        Vehiculos carro = new Vehiculos();
        
        carro.Marca = marca;
        carro.Modelo = modelo;
        carro.TipoVehiculosIdTipoVehiculos = tipo;
        carro.A침o = year;
        carro.Color = color;
        carro.Nroseguro = seguro;
        carro.Precio = Pdia;
        carro.Capacidadcarga = carga;
        carro.Pasajeros = pasajeros;
        carro.Latitude = latitud;
        carro.Longitude = longitud;
        carro.Status = 1;
        db.Vehiculos.Add(carro);
        db.SaveChanges();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JSRuntime.InvokeVoidAsync("initAdd");
        }

    }

}

