<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">FinalProject</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="controlV">
                <span class="oi oi-plus" aria-hidden="true"></span> Control de Vehiculos
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="registroV">
                <span class="oi oi-plus" aria-hidden="true"></span> Registro de Vehiculos
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="editarV">
                <span class="oi oi-plus" aria-hidden="true"></span> Editar Vehiculos
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="controlcliente">
                <span class="oi oi-plus" aria-hidden="true"></span> Control de Clientes
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="registrocliente">
                <span class="oi oi-plus" aria-hidden="true"></span> Registro de Clientes
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="editarcliente">
                <span class="oi oi-plus" aria-hidden="true"></span> Editar Clientes
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="reserva">
                <span class="oi oi-plus" aria-hidden="true"></span> Reservar vehículo
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="listadoV">
                <span class="oi oi-plus" aria-hidden="true"></span> Listado de Vehiculos
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
